.right .r14
{
    background: rgba(36, 65, 147, 1);
    background-image: url('../img/abc.png');
    background-size: 100px;
    background-position-x: 1040px;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 680px;
    display: none;
    padding: 5px;
}

.right .r14 #container7
{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    width: 750px;
    border-radius: 10px;
}



.right .r14 form label
{
    font-size: 22px;
    color: #000;
}

.r14 table th
{
    text-align: left;
}

.right .r14 select
{
    display: inline-block;
    width: 300px;
    text-align: center;
    height: 30px;
    font-size: large;
    border-radius: 10px;
    text-decoration: none;
}

.right .r14 form input
{
    padding: 10px 8px;
    border-radius: 10px;
    border: 1px dashed black;
    font-size: 20px;
    text-align: center;
}

.right .r14 form input:focus
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.right .r14 form button
{
    padding: 8px 4px;
    width: 80px;
    font-size: 16px;
    background-color: rgba(46, 139, 87, 1);
    border: 0px;
    color: white;
    opacity: 0.5;
}

.right .r14 form button:hover
{
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}

/* The Close Button */
.r14 .close14

{
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    /* margin-top: -5px; */
    margin-right: 10px;
    cursor: pointer;
}    
  
.r14 .close14
:hover, .close14
:focus 
{
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

/* .right .r14 .r15
{
    height: 500px;
} */

.right .r15 #table-v
{
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 500px;
}

.right .r15 table
{
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    /* height: 550px; */
    text-align: center;
    font-size: 18px;
}
.right .r15 table tr:nth-child(odd) 
{
    background: #eee
}



.r15 table td
{
    text-align: center;
    font-size: 20px;
    padding: 5px 1px;
}

.r15 table tr:hover, .right .r15 table tr:nth-child(odd):hover
{
    background-color: #ccc;
}

.r15 table th
{
    
    text-align: center;
    /* border: 1px solid black; */
    position: sticky;
    background-color: #aaa;
    color: black;
    padding: 5px 1px;
}

.right .r15 #exportB
{
    float: right;
    width: 200px;
}

.right .r15 h2
{
    color: #fff;
}